<h1> User Cart! </h1>
<%= @cart.user_id %>

<% if !@books.class.nil? %>
  <% @books.each do |book| %>
    <p><%= book.title %></p>
  <% end %>
<% else %>
  <%= link_to 'Add some books', shopping_path %>
<% end %>

<br>
