/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require_self
*/

/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
*/
@import "bootstrap-sprockets";
@import "bootstrap";

 /*
 *= require_tree . 
 */

//colors
$color_alto_approx: #dddddd;
$black: #000;
$color_celeste_approx: #cecece;
$white_100: rgba(255,255,255,1);
$white: #fff;
$black_75: rgba(0,0,0,0.75);
$color_delta_approx: #a2a2a2;
$color_steel_blue_approx: #337ab7;
$color_gallery_approx: #ededed;
$black_50: rgba(0,0,0,0.5);
$color_alizarin_crimson_approx: #dd2339;
$color_pink_approx: #ffc9c9;
$color_monza_approx: #de1515;
$red: red;
$color_your_pink_approx: #ffc4c4;
$black_20: rgba(0,0,0,0.2);

//fonts
$font_0: monospace;

//urls
$url_0: url(http://res.cloudinary.com/nmetau/image/upload/c_scale,w_200/v1464859497/SORRY-SOLD-OUT_shuhgx.png);
$url_1: url(http://res.cloudinary.com/nmetau/image/upload/c_scale,w_100/v1464859497/SORRY-SOLD-OUT_shuhgx.png);

//@extend-elements
//original selectors
//#confirm ul, li
%extend_1 {
	list-style: none;
	text-align: left;
	margin: 0 0 0 -15px;
}


@import "bootstrap-sprockets";
@import "bootstrap";
body {
	min-width: 902px;
}
#wrapper {
	position: absolute;
	width: 100%;
	height: 80px;
	text-align: center;
	font-size: 20px;
	font-family: $font_0;
	letter-spacing: normal;
	position: fixed;
	top: 0;
	background-color: $color_alto_approx;
	opacity: 0.9;
	z-index: 1;
	min-width: 850px;
}
.langueges {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 2px;
	background-color: $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 8px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 4px $white_100;
	font-size: 15px;
}
.space {
	width: 100%;
	height: 80px;
}
#name {
	display: inline-block;
	padding: 0 20px;
	left: 20px;
	float: left;
  color: red;
}
#root {
	display: inline-block;
	margin: 30px 10px 30px 30px;
	float: left;
}
.border {
	height: 15px;
	border-right: 2px solid $black;
}
#basket {
	height: 32px;
	display: inline-block;
}
.empty {
	height: 32px;
	&:active {
		font-weight: 900;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 2px 2px 2px $white;
	}
}
.btn-group {
	float: right;
	margin: 30px 50px 0 0;
	display: inline-block;
	width: 50%;
}
.settings {
	text-align: right;
	font-size: 15px;
	margin: 30px 5px 0 0;
	float: right;
	width: 34%;
	min-width: 445px;
}
#shopping {
	position: relative;
	width: 100%;
	> p {
		font-family: $font_0;
		letter-spacing: normal;
		font-size: 25px;
		margin-left: 30px;
		position: absolute;
		display: inline-block;
	}
}
.shop {
	width: 1000px;
	height: 900px;
	margin-top: 40px;
	padding: 0;
	text-align: center;
	display: inline-block;
	&:after {
		display: inline-block;
		content: "";
		width: 100%;
	}
}
#shop_item {
	width: 300px;
	height: 320px;
	display: inline-block;
	> * {
		display: block;
		text-align: center;
	}
}
.title_item {
	width: 100%;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	margin-top: 25px;
}
#categories {
	display: inline-block;
	width: 200px;
	height: 300px;
	position: absolute;
	right: 0;
}
.outside {
	width: 85%;
	margin: 30px auto;
}
.rev {
	display: block;
	margin-top: 20px;
}
.rev_text {
	width: 100%;
	overflow-wrap: break-word;
	//Instead of the line below you could use @include word-break($value)
	word-break: break-all;
}
.reviews {
	display: block;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 20px 0;
	}
}
.author {
	display: block;
}
.stars {
	display: inline-block;
	margin: 0 20px 0 0;
}
.headline {
	display: inline-block;
	margin: 0 20px 0 0;
}
.rev_create {
	display: inline-block;
	color: $color_delta_approx;
	margin: 0 0 0 20px;
}
.best {
	position: absolute;
	margin: 10px auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1000px;
	height: 900px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	> p {
		text-align: center;
	}
}
.book_info {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.book_info_in_cart {
	text-align: left;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.book_title {
	font-weight: 900;
	font-size: 20px;
	margin: 20px 10px;
}
.title {
	display: block;
	font-size: 20px;
	margin: 0 0 15px 0;
}
.cover_desc {
	width: 1000px;
	padding: 10px;
}
.cover {
	width: 200px;
	height: 300px;
	float: left;
	margin-left: 20px;
	display: inline-block;
	> * > * {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: -5px 0 6px 0 $black_75;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(600px) rotate3d(0,-45,0,-25deg);
	}
}
.desc {
	height: 200px;
	width: 95%;
	display: block;
	margin: 0 20px;
	text-overflow: ellipsis;
}
.cart {
	width: 100%;
	margin: 30px 0;
	padding: 20px;
	text-align: center;
	font-size: 15px;
	border-bottom: 3px dotted $black;
	img {
		width: 90px;
		height: 110px;
	}
	.cover {
		width: 90px;
		height: 110px;
		overflow: hidden;
        margin-bottom: 15px;
	}
	.book_title {
		display: block;
		float: top;
		font-size: 16px;
		margin: 0;
		text-align: left;
	}
	.book_info {
		display: block;
		height: 110px;
		margin: 0;
		overflow: hidden;
		text-align: left;
	}
	.desc {
		margin: 0;
		height: 88px;
		width: 100%;
	}
	th {
		text-align: center;
		padding: 10px;
	}
	td:nth-child(n + 2) {
		font-weight: 600;
	}
  }
tr {
	border-collapse: separate;
	text-overflow: ellipsis;
}
.sub_total {
	position: absolute;
	right: 20px;
	margin: 0 2%;
	display: inline-block;
	li:last-child {
		font-weight: 600;
	}
}
.price_right {
	float: right;
}
.before_order {
	display: block;
	height: 50px;
	margin: 100px 0 10px;
}
.left_buttons {
	float: left;
	position: relative;
	display: inline;
}
.right_buttons {
	float: right;
	position: relative;
	display: inline;
}
.update_items {
	bottom: 19px;
	right: 192px;
	position: absolute;
	display: inline;
}
.set {
	display: block;
	border-bottom: 2px solid $black;
}
.address {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	padding: 20px;
	margin: 20px;
	> th {
		padding: 50px;
		margin: 20px;
		font-size: 25px;
		font-weight: 400;
	}
}
.order_sum {
	text-align: right;
	display: inline-block;
	position: absolute;
	right: 30px;
	top: 160px;
}
.order_address {
	display: inline-block;
	th {
		font-size: 25px;
		font-weight: 400;
		padding: 5px;
		margin: 20px;
	}
}
.new_checkout {  
    >.actions  {
      margin-left: 20px;
    }
}

.checkout {
	position: relative;
	margin: 30px 100px 0;
	min-width: 760px;
	h1 {
		font-weight: 400;
		font-size: 25px;
	}
	> h1 {
		display: inline-block;
		width: 150px;
	}
}
#confirm {
	th {
		margin: 0 10px;
		padding: 0 10px;
		> * {
			margin-bottom: 10px;
			color: $color_steel_blue_approx;
			padding: 0;
			border: none;
			background: none;
		}
	}
	ul {
		@extend %extend_1;
	}
}
.link_to_steps {
	right: 0;
	margin: 18px 50px 0 0;
	font-size: 20px;
	position: absolute;
	> * {
		color: $black;
		cursor: pointer;
		> * {
			color: $black;
			&:hover {
				color: $black;
				text-decoration-line: none;
			}
		}
	}
}
.current_step {
	border-bottom: 2px solid $black;
}
.what_cvv {
	display: none;
	width: 300px;
	border: 1px solid $color_steel_blue_approx;
	background: $color_gallery_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 10px $black_50;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 8px;
	padding: 15px;
	position: absolute;
}
.checking_field {
	height: 30px;
	width: 227px;
}
.field {
	margin-bottom: 10px;
	display: table;
}
.to_check {
	width: 150px;
	height: 10px;
}
td {
	margin: 0 10px;
	padding: 0 10px;
	margin: 10px;
	padding: 10px 70px;
	&:first-child {
		padding: 0;
	}
}
li {
	@extend %extend_1;
}
.field_with_errors {
	border: 2px solid $color_alizarin_crimson_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 6px;
	background: $color_pink_approx;
}
#error_explanation {
	color: $color_monza_approx;
}
#same_address {
	margin: 0 0 0 300px;
}
.order_total {
	right: 0;
	position: absolute;
	width: 200px;
	margin: -20px 0 0;
	> * {
		float: right;
		display: inline-block;
		margin: 2px;
		&:last_child {
			color: $red;
		}
	}
}
.in_prog {
	margin: 0 0 30px 0;
}
.dotted {
	width: 100%;
	border-bottom: 3px dotted $black;
	position: relative;
	margin: 75px 0 0;
}
.naming {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	border-bottom: 2px solid $black;
	width: 100%;
}
.orders {
	margin: 0 0 10px 0;
	text-align: center;
	th {
		text-transform: uppercase;
		font-weight: 100;
		margin: 10px;
		padding: 10px 70px;
		&:first-child {
			padding: 0;
			text-align: center;
		}
	}
}
.states {
	width: 100%;
	position: relative;
	> * {
		width: 100%;
	}
}
.back_to_store {
	margin: 70px 0 0;
}
.head_of_order {
	display: inline-block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	margin: 0 20px 0 0;
}
.delivery_meth {
	opacity: 0.6;
	color: $color_delta_approx;
	display: inline-block;
}
.back_orders {
	display: block;
	font-size: 12px;
}
.boldy {
	font-weight: 600;
	display: inline-block;
}
.add_book {
	display: inline-block;
	float: right;
	margin: 0 20% 0 0;
	> * > * {
		display: inline-block;
	}
}
#win {
	display: inline-block;
	> {
		.desc {
			margin: 50px 0 0;
		}
		.price {
			font-size: 18px;
		}
	}
}
.in_center {
	position: absolute;
	margin: 100px auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 500px;
	* {
		text-align: center;
	}
	h2 {
		display: none;
	}
}
.linking {
	text-align: center;
	margin: 30px 20%;
	width: 300px;
	height: 30px;
}
.sold_out {
	background: $url_0;
	width: 200px;
	height: 133px;
	position: absolute;
	bottom: 0;
	left: 300px;
}
.sold_out_in_shop {
	background: $url_1;
	width: 100px;
	height: 67px;
	position: absolute;
}
.sold_out_show {
	background: $url_0;
	width: 200px;
	height: 133px;
	right: 0;
	top: 0;
}
.checkout_errors {
	width: 1000px;
	line-height: 2.1;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 8px;
	background-color: $white;
	background: linear-gradient(to top, $color_your_pink_approx, $white);
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 3px 3px $black_20;
}
.breadcrumb li > * {
	color: $black;
	padding: 0 12px;
}
div > div {
	display: inline-block;
}
.cover_item > * > * {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: -5px 0 6px 0 $black_75;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: perspective(600px) rotate3d(0,-45,0,-25deg);
}
.rev_wrap > div {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
}
img.raty-cancel {
	display: none;
}
.to_cart > * > * {
	display: inline-block;
}
.step_visit * {
	color: $color_steel_blue_approx;
	border-bottom: 2px solid $color_steel_blue_approx;
}
#CVV_info > p {
	cursor: pointer;
	color: $color_steel_blue_approx;
	border-bottom: 1px solid $white;
	&:hover {
		border-bottom: 1px solid $color_steel_blue_approx;
	}
}

.edit_user {
    margin: 20px;
}

.back {
    margin: 20px;
}