/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require_self
*/

/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
*/
@import "bootstrap-sprockets";
@import "bootstrap";

 /*
 *= require_tree . 
 */

body{
  min-width: 902px;
}

#wrapper{
  position: absolute;
  width:100%;
  height: 80px;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  letter-spacing: normal;
  position:fixed;
  top: 0px;
  background-color: #dddddd;
  opacity: 0.9;
  z-index: 1;
}

.space{
  width:100%;
  height: 80px;
}

#name{
  display: inline-block;
  width: 250px;
  left: 20px;
  float:left; 
}

#root{
  display: inline-block;
  margin: 30px;
  float: left;
}

.border{
  height: 15px;
  border-right: 2px solid #000;
}

#basket{
  height: 32px;
  display: inline-block;
}

.empty{
  -moz-user-select: none;
  -webkit-user-select: none;
  height: 32px;
}
.empty:active{
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 900;
  text-shadow: 2px 2px 2px #fff;
}

div > div{
  display: inline-block;
}

.btn-group{
  float: right;
  margin: 30px 50px 0px 0px;
}

.settings{
  font-size: 15px;
  margin: 30px 50px 0px 0px;
  float:right;
}

#shopping > p{
  font-family: monospace;
  letter-spacing: normal;
  font-size: 25px;
  margin-left: 30px;
  position: absolute;
  display: inline-block;
}

#shopping{
  position: relative;
  width:100%;
}

.shop{
  width: 1000px;
  height: 900px;
  margin-top: 40px;
  padding: 0px;
  text-align: center;
  display: inline-block;
}

.shop:after {
  display: inline-block;
  content: "";
  width: 100%;
}

#shop_item{
  width: 300px;
  height: 300px;
  display: inline-block;
}

#shop_item > *{
  display: block;
  text-align: center;
}

#cover_item{
  width: 300px;
  height: 200px;
}

#categories{
  display: inline-block;
  width: 200px;
  height: 300px;
  position: absolute;
  right: 0px;
}

ol{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#outside{
  width:85%;
  margin: 0px auto;
}

.rev{
  display: block;
}

.rev_wrap{
  display: inline-block;
}

.rev_wrap > div {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}

.reviews >ol > li{
  margin: 20px 0px 20px 0px;
}

.best{
  position: absolute;
  margin: 10px auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1000px;
  height: 900px;
  border-radius: 3px;
}

.best > p{
  text-align: center;
}

.book_info{
  display: block;
}
.book_title{
  font-weight: 900;
  font-size: 20px;
  margin: 20px 10px;
}

.title{
  display: block;
  font-size: 20px;
}

.cover_desc{
  width: 1000px;
  padding: 10px;
}

.cover{
  width: 200px;
  height: 250px;
  float: left;
  margin-left: 20px;
  display: inline-block;
}

.desc{
  height: 200px;
  width: 700px;
  display:block;
  margin: 0px 20px;
}

.to_cart > * > *{
  display: inline-block;
}


.cart{
  width: 100%;
  margin: 30px 0px 30px 0px;
  padding: 20px;
  text-align: center;
  font-size: 15px; 
  border-bottom: 3px dotted #000;
}

.cart td:nth-child(n+2){
  font-weight: 600;
}

.cart img{
  width:90px;
  height: 110px;
}

.cart .cover{
  width:90px;
  height: 110px;
  overflow: hidden;
}

.cart .book_title{
  display: block;
  float: top;
  font-size: 16px;
  margin: 0px;
  text-align: left;
}

.cart .book_info{
  display: block;
  height: 110px;
  margin: 0px;
  overflow: hidden;
  text-align:left;
}

.cart .desc{
  margin: 0px;
  height: 88px;
  width: 100%;
}

tr{
  border-collapse:separate;
  text-overflow:ellipsis;
}

.cart th{
  text-align: center;
  padding: 10px;
}

.sub_total{
  position: absolute;
  right: 40px;
  margin: 0% 2%;
  display: inline-block;
}

.before_order{
  display:block;
  width: 80%;
  height: 50px;
  margin: 60px 0px 10px 0px;
}

.left_buttons{
  float:left;
  position: relative; 
  display: inline;
}

.right_buttons{
  float: right;
  position: relative; 
  display: inline;
}

.btn-group{
  display: inline-block;
  width: 50%;
}

.set {
  display: block;
  border-bottom: 2px solid #000;
}

.address{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.address > th{
  padding: 50px;
  margin: 20px;
  font-size: 25px;
  font-weight: 400;
}

.steps{
  display: inline-block;
  position: relative;
  float: left;
  margin: 0px 0px 50px 0px;
}

.order_sum{
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 30px;
}

.order_address th{
  font-size: 25px;
  font-weight: 400;
  padding: 5px;
  margin: 20px;
}

.checkout h1{
  font-weight: 600;
  font-size: 25px;
  display: block;
}
.checkout{
  position: relative;
  margin: 30px 100px 0px 100px;
}
.checkout > h1{
  display: block;
  width: 150px;
}

.link_to_steps{
  float: right;
  margin: -30px 150px 0px 0px;
  color: black;
  font-size: 20px;
}

.link_to_steps > *{
  color: black;
  background-color: white;
  margin-bottom: 10px;
}

#confirm th > *{
  margin-bottom: 10px;
  color: #337ab7;
  padding: 0;
  border: none;
  background: none;
}

.link_to_steps > *:hover{
  border: none;
}

.field{
  margin-bottom: 10px;
  display: table;
}
.to_check{
  width: 150px;
  height: 10px;
}

#confirm th, td{
  margin: 0px 10px;
  padding: 0px 10px;
}
#confirm ul, li{
  list-style: none;
  text-align: left;
  margin: 0px 0px 0px -15px;
}

.field_with_errors{
  border: 2px solid #dd2339;
  border-radius: 6px;
  background: #ffc9c9;
}

#error_explanation{
  color: #de1515;
}

#same_address{
  margin: 0px 0px 0px 300px;
}

.order_total > *{
  float: right;
  display: inline-block;
  margin: 10px;
}
.order_total{
  right: 0px;
  position: absolute;
  height: 250px;
  width: 200px;
  margin: -20px 0px 0px 0px;
}

.in_prog{
  margin: 0px 0px 70px 0px;
}

.dotted{
  width: 100%; 
  border-bottom: 3px dotted #000;
  position: relative;
  margin: 60px 0px 0px 0px;
}

link_to_steps > *.active{
  border-bottom: 2px solid #000;
}
link_to_steps > *.visited{
  color: #337ab7;
}

.naming{
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 2px solid #000;
  width: 100%;
}

.orders{
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.orders th{
  text-transform: uppercase;
  font-weight: 100;
}

.orders th:first-child, td:first-child{
  padding: 0px;
}
.orders th:first-child{
  text-align: center;
}

.orders th, td{
  margin: 10px;
  padding: 10px 70px 10px 70px;
}

.states{
  width: 100%;
  position: relative;
}

.states > *{
  width: 100%;
}

.back_to_store{
  margin: 70px 0px 0px 0px;
}

.head_of_order{
  display: inline-block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  margin: 0 20px 0 0;
}

.delivery_meth{
  opacity: 0.6;
  color: #a2a2a2;
  display: inline-block;
}

.back_orders{
  display: block;
  font-size: 12px;
}

.boldy{
  font-weight: 600;
}

.add_book{
  display: inline-block;
  float: right;
  margin: 0px 20% 0px 0px;
}

.add_book > * > *{
  display: inline-block;
}
#win{
  display: inline-block;
}

#win > .desc{
  margin: 50px 0 0 0;
}

#win > .price{
  font-size: 18px;
}


